Source: ayatana-indicator-application
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 9.0),
               dh-autoreconf,
               dbus-test-runner,
               mate-common,
               xvfb,
               libglib2.0-dev (>= 2.35.4),
               libgtk-3-dev (>= 2.91),
               libdbus-glib-1-dev (>= 0.82),
               libjson-glib-dev,
               intltool,
               libayatana-appindicator3-dev (>= 0.5.0~),
               libayatana-indicator3-dev (>= 0.6.0~),
               libdbusmenu-glib-dev (>= 0.5.90),
               libdbusmenu-gtk3-dev (>= 0.5.90),
               systemd,
Standards-Version: 3.9.6
Homepage: https://github.com/ArcticaProject/ayatana-indicator-application
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-application.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-application.git/

Package: ayatana-indicator-application
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         ayatana-indicator-common,
Description: Ayatana Application Indicators
 An indicator to take menus from applications and place them in the panel.
