Source: indicator-application
Section: gnome
Priority: optional
XS-Python-Version: all
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.12.0),
               libdbus-glib-1-dev (>= 0.82),
               libjson-glib-dev,
               intltool,
               libindicator-dev (>= 0.3.16),
               libdbusmenu-gtk-dev (>= 0.3.91),
               libdbusmenu-glib-dev (>= 0.3.91),
               libappindicator-dev (>= 0.2.91)
Standards-Version: 3.8.4
Homepage: https://launchpad.net/indicator-application
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-desktop/indicator-application/ubuntu

Package: indicator-application
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.

