#!/usr/bin/make -f

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

DEB_CMAKE_EXTRA_FLAGS = \
    -DENABLE_TESTS=ON \
    -DENABLE_COVERAGE=OFF \
    $(NULL)

%:
	dh $@ --with systemd

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CMAKE_EXTRA_FLAGS)

override_dh_install:
	find debian/ayatana-indicator-application/usr/lib -name *.la -delete
	find debian/ayatana-indicator-application/usr/lib -name *.a -delete
	dh_install --fail-missing

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
